@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* FONTES */
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

/* RESET */
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* ESTILO GERAL */
body {
  background-color: #fff9ea;
}

/* BOTÕES */
.butao-amarelo {
  padding: 10px 15px;
  border-radius: 10px;
  background-color: #ffcb45;
  transition: 0.5s;
  margin-right: 20px;
  border-color: transparent;
  cursor: pointer;
}

.butao-amarelo:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 5px 1px rgba(146, 114, 9, 0.377);
}

.btn-social {
  margin: 20px 10px 20px 0;
  padding: 8px;
  border-radius: 8px;
  border-color: transparent;
  background-color: white;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.158);
}

.btn-social:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 5px 1px rgba(146, 114, 9, 0.377);
  transition: 0.5s;
}

.btn-social:hover .bi-whatsapp {
  color: #25D366;
}

.btn-social:hover .bi-instagram {
  color: #E4405F;
}

.btn-social:hover .bi-facebook {
  color: #1877F2;
}

/* HEADER */
header {
  width: 100%;
  padding: 20px 8% 5px 8%;
  display: flex;
  position: fixed;
  background-color: #fff9ea;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
}

nav img {
  width: 40px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 80px;
  margin: auto;
}

nav a {
  color: rgba(0, 0, 0, 0.671);
  text-decoration: none;
  height: 300px;
  padding: 10px;
  transition: 0.3s;
}

nav a:hover {
  padding: 10px;
  border-radius: 10px;
  color: #926709;
  background-color: #ffecb3;
  outline: 2px solid #ffcb45;
  outline-offset: 3px;
}

/* SEÇÃO FRENTE */
#frente {
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.671);
  padding-top: 150px;
}

#frente .texto {
  padding-top: 100px;
  padding-left: 8%;
}

#frente .texto h1 {
  font-size: 52px;
}

#frente .texto h1 span {
  color: #e9a209;
}

#frente .texto p {
  padding: 40px 0 30px 0;
}

#frente .texto .telefone {
  padding: 10px 15px;
  border-radius: 10px;
  border-color: transparent;
  background-color: white;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.26);
  transition: 0.2s;
}

#frente .texto .telefone:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 5px 1px rgba(146, 114, 9, 0.377);
}

#frente .texto .telefone i {
  background-color: #ffcb45;
  padding: 5px 8px;
  margin-right: 7px;
  border-radius: 30%;
}

#frente img {
  width: 600px;
}

#frente .imagem {
  width: 700px;
  background-color: #ffe8b4;
  padding: 50px 90px 50px 40px;
  border-radius: 30% 30% 0 30%;
}

/* SEÇÃO PROMOÇÕES */
#promoções {
  margin: 100px 0 300px 0;
}

#promoções .titulo {
  text-align: center;
  padding: 250px 0 40px 0;
}

#promoções .titulo h3 {
  color: #e9a209;
}

#promoções .titulo h2 {
  color: rgba(0, 0, 0, 0.671);
  margin: 0 auto;
}

#promoções .pratos-especiais {
  display: grid;
  margin: auto;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  max-width: 90%;
}


#promoções .produto {
  background-color: white;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.158);
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  margin: 5%;
}

#promoções .produto p {
  padding-bottom: 20px;
}

#promoções img {
  width: 200px;
  padding-bottom: 20px;
}

.pratos-especiais h2 {
  padding-bottom: 20px;
}

.pratos-especiais i {
  color: #ffcb45;
}

.produto .preço {
  padding: 20px;
}

.produto .preço i {
  background-color: #ffcb45;
  color: black;
  padding: 6px 10px;
  border-radius: 7px;
  font-size: 11px;
}

/* SEÇÃO SOBRE MIM */
#sobre-mim {
  display: flex;
  margin-bottom: 200px;
  justify-content: space-between;
  gap: 20px;
  
}

#sobre-mim img {
  background-color: #ffe8b4;
  border-radius: 30% 30% 30% 0;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.089);
}

#sobre-mim .texto {
  margin-right: 8%;
}

#sobre-mim .titulo {
  padding: 60px 0 40px 0;
}

#sobre-mim .titulo h3 {
  color: #fab623;
  padding-bottom: 10px;
}

#sobre-mim .titulo h2 {
  font-size: 34px;
  max-width: 550px;
  color: rgba(0, 0, 0, 0.671);
}

#sobre-mim .avaliação {
  background-color: white;
  max-width: 700px;
  box-shadow: 0px 1px 10px 2px rgba(70, 70, 70, 0.205);
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
}

#sobre-mim .avaliação #nome-cliente {
  padding-bottom: 10px;
  transition: 0.2s;
}

#sobre-mim .avaliação #nome-cliente:hover {
  text-decoration: underline;
  transform: scale(1.05);
  cursor: pointer;
}

#sobre-mim .cima {
  display: flex;
  justify-content: space-between;
}

#sobre-mim .cima i {
  color: #ffcb45;
}

/* SEÇÃO SOBRE NÓS */
#sobre-nos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px auto;
  padding: 0 8%;
}

#sobre-nos .texto{
  margin-left: 8%;
}

#sobre-nos img {
  width: 45%;
  border-radius: 10px;
}

#sobre-nos h1{
  font-size: 35px;
  padding-bottom: 10px;
  color: rgba(0, 0, 0, 0.671);
}

#sobre-nos h1 span{
  color: #fab623;
}

/* FOOTER */
footer {
  display: flex;
  background-color: #ffe8b4;
  justify-content: space-between;
  padding: 0px 8%;
  align-items: center;
}

footer .logo-nome {
  display: flex;
  align-items: center;
}

footer .logo-nome img {
  margin-right: 20px;
}

/* RESPONSIVIDADE */
@media (max-width: 1010px) {
  header {
    flex-direction: column;
    padding: 10px 5%;
  }

  nav ul {
    flex-direction: column;
    gap: 20px;
  }

  #frente {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #frente .imagem {
    width: 90%;
    padding: 20px;
    border-radius: 20%;
  }

  #promoções .pratos-especiais {
    grid-template-columns: 1fr 1fr;
  }

  #sobre-mim {
    flex-direction: column;
    text-align: center;
  }

  footer {
    flex-direction: column;
    text-align: center;
  }

}
@media (max-width: 768px) {
  /* Tablets */
  nav ul {
    gap: 40px;
  }
  #frente img {
    width: 80%;
  }
}

@media (max-width: 480px) {
  /* Smartphones */
  nav ul {
    flex-direction: column;
    gap: 15px;
  }
  #frente img {
    width: 100%;
  }
}

